.main{
    margin: 30px 200px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 576px) {
    .main {
        width: 90%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  }

  @media screen and (max-width: 768px) and (min-width:577px){
    .main {
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
  }



.bg-body{
    background-color: unset;
}

.jumbotron{
    background-color:ghostwhite;
}

.fiveDays{
    margin-top: 50px;
    margin-left: 8%;
}

@media screen and (max-width: 576px) {
    .fiveDays {
        margin-top: 20px;
        margin-left: 16%;
    }
  }

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.fav{
    position: absolute;
    left: 90%;
    top: 10%;
    animation-name: fav;
    animation-duration: 3s;
    color: violet;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .fav {
        top: 2%;
        left: 80%;
    }
  }

  @media screen and (max-width: 576px) {
   .dis {
        top: 2%;
        left: 80%;
    }
  }

  @media screen and (max-width: 768px) and (min-width:577px){
    .fav  {
        top: 5%;
        left: 85%;
    }
  }

  @media screen and (max-width: 768px) and (min-width:577px){
   .dis  {
        top: 5%;
        left: 85%;
    }
  }


.dis{
    position: absolute;
    padding: 2px;
    left: 90%;
    top: 10%;
    background-color: white;
    cursor: pointer;
}
