.single{
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    font-size: 26px;
 
}

@media screen and (max-width: 576px) {
    .single {
        font-size: 16px;
        margin-left: unset;
    }
  }

  @media screen and (max-width: 768px) and (min-width:577px){
    .single {
        margin-left: 3%;
       font-size: 26px;
    }
  }