svg{
    margin: 10px;
}

nav{
    height: 75px;
}

.logo{
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .nav-btn {
        position: absolute;
        left: 75%;
    }
  }

  @media screen and (max-width: 576px) {
    .nav-title {
        margin-left: -20px;
        font-size: 18px;
    }
  }