.search{
    margin-top: 20px;
    width:33%; 
    margin-left: 33%;
    font-family: 'Montserrat', sans-serif;
}


.oops{
    position: absolute;
    z-index: 9999;
    margin-top: 30%;
    margin-left: 30%;
}